*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  font-family: 'Manrope', sans-serif;
  background-color: #ccccce;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
}
